*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: '', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom, #dcdcdc, #c2c9d9, #9abbd4, #63aec7, #04a2ad);

  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh
};
